@import '../../global.styl'

.adThumbnail
  margin: 0 10px
  position: relative
  img
    width: 356px
    height: 200px
    background-position: center
    background-repeat: no-repeat
    background-size: 30%
  &__controls
    display: flex
    position: absolute
    bottom: 0
    right: 10px
    left: 10px
    .animatedButton
      width: 50%
