@import 'reset.styl'
@import 'fonts.styl'
@import 'theme.styl'
html
  font-family "San Francisco"
  background #f0f0f0
  color #555
  font-weight 400
  font-size 15
  h1
    text-align center
  .roosterbird
    width 30em
    height 34em
    background-repeat no-repeat
    background-size cover
    margin 50px auto
  .header
    margin 10px 0
    font-weight 400
