a
  color #555
  text-decoration none
  &:active
  &:hover
    color #555
.form-input
  opacity 1
  transition all 0.4s
  &-inactive
    opacity 0
    display: block
    margin-bottom 0 !important
    height 0 !important
    padding 0 !important

form
  font-size 1.2em
  max-width 500px
  min-width 400px
  padding 10px 20px
  background #f4f7f8
  margin 10px auto
  padding 20px
  border-radius 8px
  position absolute
  font-family Georgia, "Times New Roman", Times, serif
  top 50%
  left 50%
  transform translate(-50%,-50%)
  fieldset
    border none
  legend
    font-size 1.4em
    margin-bottom 30px
    width 100%
    user-select none
    cursor default
  label
    display block
    margin-bottom 8px
  .more
    &:hover
      text-decoration underline
      cursor pointer
input[type=text]
input[type=date]
input[type=datetime]
input[type=email]
input[type=number]
input[type=search]
input[type=time]
input[type=url]
input[type=tel]
textarea
select
  font-size 1.2em
  font-family Georgia, "Times New Roman", Times, serif
  background rgba(255,255,255,.1)
  border none
  border-radius 4px
  margin 0
  outline 0
  padding 7px
  width 100%
  box-sizing border-box
  background-color #e8eeef
  color #555
  box-shadow 0 1px 0 rgba(0,0,0,0.03) inset
  font-family Georgia, "Times New Roman", Times, serif
  margin-bottom 30px
  &:focus
    background #d2d9dd
select
  appearance menulist-button
  height 35px

.number
  background #1abc9c
  color #fff
  height 30px
  width 30px
  display inline-block
  font-size 0.8em
  margin-right 14px
  line-height 30px
  text-align center
  text-shadow 0 1px 0 rgba(255,255,255,0.2)
  border-radius 15px 15px 15px 0px
input[type="submit"]
input[type="button"]
  cursor pointer
  position relative
  display block
  padding 19px 39px 18px 39px
  font-family Georgia, "Times New Roman", Times, serif
  color #FFF
  margin 0 auto
  border-radius 4px
  background #1abc9c
  font-size 1.5em
  text-align center
  font-style normal
  width 100%
  border 1px solid #16a085
  border-width 1px 1px 3px
  margin-bottom 10px
  &:hover
    background #109177
 .form-error
    padding 10px 7px
    color #999
    font-size 0.8em
    transition 0.28s
    overflow hidden
    color #a02a16
    font-style italic
    span
      padding 0 10px
      a

        color inherit
        text-decoration underline
        cursor pointer
