<!doctype html>
<html>
  <head>
    <link type="text/css" href="popup.css" rel="stylesheet">
    <script type="text/javascript" src="globals.js"></script>
    <script type="text/javascript" src="popup.js"></script>
  </head>
  <body>
    <div class="header-container">
      <img class="logo-img" src="logo.png" />
      <span id="header-title" class="header-container__title"></span>
      <div id="counter-container">
        <span id="like-counter" class="counter-value"></span>
        <span id="none-counter" class="counter-value"></span>
        <span id="snooze-counter" class="counter-value"></span>
      </div>
    </div>
    <div id="videos-container">
    </div>
  </body>
</html>
