.profileBuilder-form-transition
  &-enter
    opacity: 0
    &.profileBuilder-form-transition-enter-active
      opacity: 1
      transition: all 1000ms ease-in

.profileBuilder-form-transition
  &-leave
    opacity: 1
    &.profileBuilder-form-transition-leave-active
      opacity: 0
      transition: all 1000ms ease-in
