
// Global colors
$color-blue       = #428BCA
$color-bright-blue= #0099CC
$color-green      = #5caf8e
$color-red        = #e6484d
$color-yellow     = #fede62
$color-grey       = #e0e0e0
$color-dark-grey  = #666666
$color-white      = #ffffff

$color-hematite = #333E48
$color-hematite-light = #78878E
$color-hematite-dark = #1E252B

$color-rubicon-red = #CF0A2C
$color-rubicon-red-light = #F7323F
$color-rubicon-red-dark = #68091A

$color-aqua = #00ADBB
$color-aqua-light = #26CAD3
$color-aqua-dark = #008996

$color-sea-foam = #34D9C3
$color-sea-foam-light = #A7E6D9
$color-sea-foam-dark = #00C19F

$color-sunflower = #FFB700
$color-sunflower-light = #FFC656
$color-sunflower-dark = #F7A800

$color-mist = #D9D9D6
$color-mist-light = #E5E4E3
$color-mist-dark = #A7A8AA


// Global styles
*, *:before, *:after
  box-sizing: border-box
