@import '../../global.styl'

.login
  color: $color-hematite-dark
  width: 100%
  position: relative
  &__form
    // Required to override default form
    position: initial
    transform: none
    margin 0 auto
    // end required
    &__controls
      margin-left: .5em
      opacity: 0.2
      position: relative
      &--active
        opacity: 1
      &__underline
        position: absolute
        height 4px
        background-color: $color-sea-foam-dark
        width: 100px
        &.register
          left: 64px
        &.login
          left: 170px
